* {
    /* background-color: white; */
    margin: 0 auto;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
  
}
#title {
   border: 5px grey solid;
   padding: 5px;
   margin: 15px auto;
   background-color: black;

}
h1 {
    text-align: center;
    color: red;
}

#overlay {
    position: relative;
    top: 119px;
    left: 0;
    width: 170px;
    height: 80px;
    background-color: aliceblue;
    border: 5px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1 ;
    visibility: null;
    
}
#overlay2 {
    position: relative;
    top: -116px;
    left: 0;
    width: 170px;
    height: 80px;
    background-color: aliceblue;
    border: 5px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1 ;
    visibility: hidden;
    
}
#button{
 
}
#startCard {
    text-align: center;
}
#container, canvas, #overlay {
    position: relative;
}


#container {
    display: flex;
   background-color: black;
   height: 700px;
   flex-wrap: wrap;
   flex-direction: column;

}
canvas {
    background-color: rgb(83, 89, 90);
    border: 10px solid grey;
    height: 299px;
    width: 573px;
    display: flex;
    margin: -87px auto;

    
}

.instructions {
background-color: rgb(83, 89, 90);
height: 115px;
width: 573px;
border: 5px red solid;
text-align: center;
font-size: 18px;
padding: 10px;
margin: 97px auto;
position: absolute;
bottom: 26px;
left: 50px;
right: 50px;
}